* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "head head"
    "nav main"
    "nav foot";
  width: 100vw;
  height: 100vh;
  background-color: rgb(193, 191, 188);
  grid-template-rows: 70px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

header {
  background-color: whitesmoke;
  border-bottom: 2px solid grey;
  grid-area: head;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  border-top: 2px solid grey;
  grid-area: foot;
}

nav {
  grid-area: nav;
  background-color: whitesmoke;
  border-right: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: black;
}

Switch {
  grid-area: main;
}
