* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-areas:
    "head head"
    "nav main"
    "nav foot";
  grid-template-rows: 70px 1fr 30px;
  grid-template-columns: 150px 1fr;
  width: 100vw;
  height: 100vh;
  background: rgb(45, 42, 38);
  background: linear-gradient(
    90deg,
    rgba(45, 42, 38, 1) 0%,
    rgba(51, 64, 74, 1) 100%
  );
  color: rgb(235, 209, 175);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

header {
  grid-area: head;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 2px solid rgb(164, 164, 164);
  padding-left: 10px;
  letter-spacing: 4px;
}

footer {
  grid-area: foot;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgb(164, 164, 164);
  /* position: sticky; */
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 2px solid rgb(164, 164, 164);
  /* position: sticky; */
}

nav a {
  text-decoration: none;
  color: rgb(235, 209, 175);
  border-bottom: 1px solid transparent;
  transition: 0.5s ease;
}

nav a:hover {
  border-bottom: 1px solid rgb(254, 207, 142);
  color: rgb(254, 207, 142);
}

.home-container {
  background-color: #6e8da4;
  background-image: linear-gradient(135deg, #475e72 0%, #6e8da4 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
  height: 100%;
}

.home-container h2,
.home-container p {
  width: 45%;
  height: 130px;

  margin: 0 auto;
  letter-spacing: 2px;
  text-align: left;
}
.home-container h2 {
  font-size: 40px;
}
.home-container p {
  font-size: 18px;
}
.home-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  background-color: #33383b;
  opacity: 80%;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px rgb(45, 42, 38);
  padding: 5px;
}

.form-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 10px 0;
}

button {
  padding: 5px;
  border-radius: 10px;
  height: 35px;
  width: 90px;
  background-color: rgb(235, 209, 175);
  color: rgb(45, 42, 38);
  border: none;
  cursor: pointer;
  box-shadow: 0px 15px 10px -16px rgb(235, 209, 175);
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.5s ease;
}

button:hover {
  filter: brightness(115%);
}

select,
input {
  margin: 5px;
  width: 95%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(235, 209, 175);
  color: rgb(45, 42, 38);
  outline: none;
}

#description {
  margin-bottom: 20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover {
  -webkit-text-fill-color: rgb(45, 42, 38);
  -webkit-box-shadow: 0 0 0 30px rgb(235, 209, 175) inset !important;
}

input::placeholder {
  color: rgb(45, 42, 38);
}

/* Edit */

.edit-container {
  background-color: #6e8da4;
  background-image: linear-gradient(135deg, #475e72 0%, #6e8da4 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  height: 100%;
  width: 100%;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  background-color: #33383b;
  opacity: 80%;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px rgb(45, 42, 38);
  padding: 5px;
}

.edit-buttons {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Card */

.category-container {
  background-color: #6e8da4;
  background-image: linear-gradient(135deg, #475e72 0%, #6e8da4 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-y: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  background-color: #6e8da4;
  background-image: linear-gradient(135deg, #6e8da4 0%, #475e72 100%);
  border: 2px ridge rgb(235, 209, 175);
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px rgb(45, 42, 38);
  padding: 5px;
}
